
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size:large">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../main" style="color:white;border-color:black">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../main" style="color:white;border-color:black">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../reviews" style="color:white;border-color:black">Reviews</a>
        </li>
    </div>
  </nav>